---
//panda css
import { css } from "@styled-system/css";
import { vstack } from "@styled-system/patterns";
import { recipes } from "@/styles/recipes";

//data
import { foodMenu } from "@/data/foodMenu";

//components
import Logo from "@/components/svg/Logo.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

//images
import { Image } from "astro:assets";
import hyoutan_typography from "@/assets/hyoutan_typography.png";
import SakeSlide from "@/components/SakeSlide.astro";
---

<BaseLayout>
  <!-- heroview -->
  <section
    class={vstack({
      gap: 4,
      alignItems: "center",
      justifyContent: "center",
      w: "100%",
      h: "100svh",
    })}
  >
    <Image src={hyoutan_typography} alt={"三代目ひょうたん"} width={800} />
    <div class={css({})}>
      <Logo scale={1} />
    </div>
  </section>

  <!-- concept -->
  <section>
    <h2 class={recipes.heading2()}>
      全国から取り寄せた希少な日本酒と、うまい肴を楽しむ。
    </h2>
    <p>
      男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
    </p>
    <SakeSlide />
    <p>
      男が地蔵峠を通ると、お地蔵様の頭の上に雪が積もっていたので雪を払ってあげた。大晦日の夕方、町についた男はそこでかせ玉を売るが、一向に売れない。と、そこに笠売りのおじいさんがやってきた。笠売りのおじいさんもまったく笠が売れないので、二人はそれぞれの売り物を交換することにして家路についた。
    </p>
  </section>

  <!-- menu -->
  <section>
    <h2 class={recipes.heading2()}>フードメニュー</h2>
    <div>
      <div>
        <h3 class={recipes.heading3()}>串とん</h3>
        <p>ひょうたん名物串とん！</p>
        <p>全品税込み385円</p>
        <ul
          class={css({
            display: "flex",
            flexWrap: "wrap",
          })}
        >
          {
            foodMenu.kushiton.map((menu, index, array) => (
              <li>
                <h4>
                  {menu.name}
                  {index !== array.length - 1 ? "・" : ""}
                </h4>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h3 class={recipes.heading3()}>一品料理</h3>
        <ul>
          {
            foodMenu.other.map((item) => (
              <li>
                <span>{item.name}</span>
                <span>{item.price}円</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>

  <!-- access -->
</BaseLayout>
